<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
            
        </property>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:postgresql://127.0.0.1:5432/Earth
        </property>
        <property name="hibernate.connection.username">
            postgres
        </property>
        <property name="hibernate.connection.password">
            123
        </property>

        <mapping resource="hibernate/Counries.hbm.xml"/>
        <mapping resource="hibernate/Cities.hbm.xml"/>
        <mapping resource="hibernate/Continents.hbm.xml"/>
        <mapping resource="hibernate/Groups.hbm.xml"/>
        <mapping resource="hibernate/Humans.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
